<!DOCTYPE html>
<html>
<head>
  <title>Princebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
     <div class="navbar navbar-fixed-top">
     	<div class="navbar-inner">
     		<div class="container">
     			<a href="#" class="brand"> Princebook</a>
     			<ul class="nav">
     				<li><%= link_to "All Statuses", statuses_path %></li>  <!-- this unorder list code makes the "all statues " button appear on the nav bar-->
     		</div>
     	</div>
     </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></P>
      
      <%= yield %>

     </div>
</body>
</html>
